*.DS_Store
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ipython/

# Data and build outputs
.env
data/

# Environments
.venv
venv/
node_modules/

# Logs and Caches
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lib-cov
.yarn-integrity
pip-log.txt
pip-delete-this-directory.txt


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
coverage/

### Editor Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
# *.sublime-project  # keeping this is actually helpful
.idea
